.App {
  text-align: center;
  padding: 20px;
  background: rgba(255, 255, 255, 0.8);
}

body, html {
  margin: 0;
  padding: 0;
  font-family: 'Arial', sans-serif;
  background-image: url('https://img.freepik.com/free-vector/flight-booking-concept-illustration_114360-2413.jpg?w=1060&t=st=1707046400~exp=1707047000~hmac=db6b801b39d57c5d92724ee811070218d6730a6602841e23e8b759e26d56c921');
  background-size: cover;
  color: #333;
}

.searchFormContainer {
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin: 20px auto;
  width: 80%;
  max-width: 900px;
}

input, .searchButton {
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 10px 15px;
  margin: 10px 0;
}

.searchButton {
  background-color: #4CAF50;
  color: white;
  font-size: 16px;
  cursor: pointer;
}

.flightListContainer {
  margin: 20px;
  padding: 20px;
  background: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.05);
}

.sortSelect {
  margin-bottom: 20px;
  padding: 10px;
  border-radius: 4px;
  border: 1px solid #ddd;
}

.flightHeader {
  margin-bottom: 20px;
  color: #333;
}

.flightList {
  list-style: none;
  padding: 0;
}

.flightItem {
  background-color: white;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 15px;
  margin-bottom: 10px;
}

.flightDetails {
  font-size: 14px;
  color: #555;
  margin: 5px 0;
}

.flightPrice {
  font-size: 18px;
  font-weight: bold;
  color: #333;
  margin-top: 10px;
}
